
  <span class="fundo" [ngStyle]="{ 'width': this.width5 + '%' }"></span>
  <div class="compra" [ngStyle]="{'width': width + 'vw' }">
    <div id="itens">Total: {{ obterTotal() | currency:'BRL' }}</div>
    <div class="qItens"> Itens: {{obterTotalItens()}}</div>
    <div class="produto-single" *ngFor="let produto of produtos; let i = index">
      <div class="produto-img">
        <img class="img" [attr.src]="'http://localhost:3000/' + produto.produto_imagem" alt="img" />
      </div>
      <span class="divisao"></span>
      <div class="produto-descricao">{{ produto.descricao }}</div>
      <div class="produto-preco">{{ produto.preco | currency : "BRL":'symbol':'1.2-2' }}</div>
      <span class="produto-quantidade">Quant: {{ produto.quantidade }} </span>
      <button class="material-symbols-outlined" id="material" (click)="removerItem(i)">delete</button>

    </div>

  </div>
