<div class="compra">
  <div id="itens">Meu Carrinho: </div>

  <div class="produto-single" *ngFor="let produto of produtos">
    <a [routerLink]="['/produtos', this.produto.id_produto]">
      <div class="produto-img">
        <img class="img" [attr.src]="'http://localhost:3000/' + produto.produto_imagem" alt="img" />
      </div>
      <span class="divisao"></span>
      <span class="produto-id" name="id">id: {{ produto.id_produto }}</span>
      <div class="produto-descricao">{{ produto.descricao }}</div>
      <div class="produto-preco">{{ produto.preco | currency : "BRL" }}</div>
      <span class="produto-quantidade">Quantidade: {{ produto.quantidade }}</span>
    </a>
    <button class="produto-adicionar" (click)="shopAdd( produto['id_produto'] )"> + </button>
    <button class="produto-remover" (click)="remover( produto['id_produto'] )"> - </button>
  </div>
</div>
