<main>

  <div class="carrossel">
    <div class="carrossel1">
      <span class="nomeProduto">Novidades</span>
      <div class="protutos-carrossel1" [ngStyle]="{ 'left': left + 'px' , 'width': width + 'px' }">
        <div class="card1" id="card1" *ngFor="let card1 of cards">
          <a [routerLink]="['/produtos', this.card1.id_produto]" routerLinkActive="router-link-active">
            <span class="produto-img"><img [attr.src]="'http://localhost:3000/' + card1.produto_imagem" alt="" /></span>
            <span class="produto-descricao">{{ card1.descricao }}</span>
            <span class="produto-id">{{card1.id_produto}}</span>
            <span class="produto-preco">{{ card1.preco | currency : "BRL" }}</span>
            <span class="produto-estoque">ESTOQUE: {{ card1.estoque }}</span>
          </a>
        </div>
      </div>
    </div>
    <button class="manual-bt1" id="bt-1">
      <img src="assets/img/esquerda.png" id="img" />
    </button>
    <button class="manual-bt2" id="bt-4">
      <img src="assets/img/direita.png" id="img" />
    </button>
  </div>


  <app-carrinho-compras></app-carrinho-compras>

  <span class="QuantprodutosLoja">
    <span class="prod">{{ getQuantidade() }}</span>
  </span>

  <div class="todosProdutos" id="single">
    <div class="produto-single" *ngFor="let produto of produtos">
      <a [routerLink]="['/produtos', this.produto.id_produto]">
        <div class="produto-img">
          <img class="img" [attr.src]="'http://localhost:3000/' + produto.produto_imagem" alt="img" />
        </div>
        <span class="divisao"></span>
        <span class="produto-id" name="id">id: {{ produto.id_produto }}</span>
        <div class="produto-descricao">{{ produto.descricao }}</div>
        <div class="produto-preco">{{ produto.preco | currency : "BRL" }}</div>
        <span class="produto-quantidade">Estoque: {{ produto.quantidade }}</span>
      </a>
      <button class="material-symbols-outlined" id="produto-adicionar"
        (click)="adicionarAoCarrinho(produto['id_produto'])"> add_circle </button>
    </div>
  </div>

  <span class="QuantprodutosLoja2">

    <span class="prod">{{ getQuantidade() + " Produtos" }}</span>
    <span class="porPagina">Por Pagina: </span>
    <select name="itensPagina" id="itensPagina">
      <option value="p1" selected>16</option>
      <option value="p2">32</option>
      <option value="p3">48</option>
      <option value="p4">64</option>
    </select>

    <section id="paginacao">
      <div class="pagination">
        <button class="inicio" id="button">&#171;</button>
        <button class="anterior" id="button">&lt;</button>
        <div class="numeros" id="button2"></div>
        <button class="proximo" id="button">&gt;</button>
        <button class="final" id="button">&#187;</button>
      </div>
    </section>
  </span>
</main>
