header {
  background: linear-gradient(rgb(29, 29, 29), 12%, rgb(49, 58, 64), rgb(29, 29, 29));
  position: fixed;
  display: flex;
  width: 100vw;
  height: 50px;
  margin: 0%;
  padding: 0%;
  top: 0%;
  left: 0%;
  border-bottom: 1.5px solid rgb(255, 255, 255);
  z-index: 2;
  overflow: visible;
  box-shadow: 0px 5px 30px 5px #ffbb00;
}

.head {
  position: relative;
  display: flex;
  width: 100vw;
  height: 50px;
  margin: 0%;
  padding: 0%;
  top: 0%;
  left: 0%;
}

.menu2 {
  position: relative;
  display: block;
  left: 0;
  padding: 0;
  margin: 0;
  width: 65px;
  height: 50px;
}

.menuAtivo {
  position: absolute;
  display: block;
  left: 0;
  width: 65px;
  height: 50px;
  z-index: 5;
  cursor: pointer;
}

.menuInativo {
  position: absolute;
  display: block;
  left: 0;
  width: 65px;
  height: 50px;
  z-index: 4;
  cursor: pointer;
}

.line1 {
  transition: 0.3s;
  border-radius: 150px;
  position: relative;
  display: block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 15px;
  left: 8px;
  width: 48px;
  height: 4px;
  background-color: #ffbb00;
}

.line2 {
  transition: 1s;
  border-radius: 150px;
  position: relative;
  display: block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 23px;
  left: 8px;
  width: 48px;
  height: 4px;
  background-color: #ffbb00;
}

.line3 {
  transition: 0.3s;
  border-radius: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 30px;
  left: 8px;
  width: 48px;
  height: 4px;
  background-color: #ffbb00;
}

.atalhos {
  position: relative;
  top: 51px;
  left: 0;
  width: 0px;
  height: 50px;
  background: linear-gradient(180deg, rgb(53, 53, 53), rgb(0, 0, 0), rgb(53, 53, 53));
  text-align: left;
  color: aliceblue;
  z-index: 4;
  transition: 0.6s;
  box-shadow: 2px 0px 0px 0px rgb(0, 21, 255);

}

.atalhosFundo {
  position: absolute;
  height: 100vw;
  background-color: #000000c7;
}

.categorias {
  height: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.li {
  text-align: left;
  letter-spacing: 3px;
  line-height: 5vh;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  text-indent: 10%;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.li:checked~.atalhos {
  position: relative;
  transition: 30ms;
}

.li .ul1:hover {
  background-color: #ffbb00;
  color: black;
  transition: 0, 3s;
  word-break: keep-all;
}

.li .ul1:active {
  background-color: #9c7302;
}

.category {
  display: flex;
  position: relative;
  color: white;
  text-decoration: none;
}

.logo {
  position: relative;
  height: 50px;
  margin: 0px;
  padding: 0px;
  left: 5%;
  overflow: hidden;
  z-index: 1;
}

#LogoFundo {
  position: absolute;
  width: 9rem;
  top: -3rem;
  display: flex;
}

.logo #Raio {
  position: relative;
  display: flex;
  height: 150px;
  width: 170px;
  top: -50px;
  left: -8px;
  animation: zoom 2s ease infinite;
}

@keyframes zoom {
  0% {
    transform: scale(120%);
  }

  25% {
    transform: scale(155%);
  }

  50% {
    transform: scale(130%);
  }

  75% {
    transform: scale(145%);
  }

  100% {
    transform: scale(120%);
  }
}

.boxPesquisa {
  position: relative;
  display: flex;
  width: 50%;
  left: 54vw;
  justify-content: center;
  transform: translate(-46vw);
  z-index: 0;
}

.pesquisa::-webkit-input-placeholder {
  color: rgba(215, 215, 215, 0.392);
}

.pesquisa {
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  top: 18px;
  width: 60%;
  height: 25px;
  border: none;
  transition: 0.5s;
  padding-left: 12px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

#lupas {
  position: relative;
  display: flex;
  justify-content: center;
  color: #ff0000;
  top: 20px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  user-select: none;
}

#busca:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.login {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 20px;
  width: 30px;
  height: 26px;
  right: 70px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
}

.login:hover {
  border-collapse: 2px;
  border-bottom: 3px solid rgb(255, 230, 0);
}

.carrinho {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 20px;
  width: 50px;
  height: 26px;
  right: 10px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.carrinho:hover {
  border-bottom: 3px solid rgb(255, 230, 0);
}

.qItens {
  position: absolute;
  background-color: red;
  width: auto;
  left: 0px;
  top: 3px;
  height: auto;
  padding: 2px;
  text-align: center;
  text-justify: auto;
  align-self: center;
  border-radius: 150px;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.compra #itens {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 50px 20px 10px 20px;
  margin: 0px 0px 10px 10px;
  font-size: 1.3rem;
  border-bottom: 1px solid rgb(255, 221, 0);
}

.compra #itens p {
  position: relative;
  color: #000;
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-between;
}

.compra #itens p .prod {
  width: 100px;
  height: 75px;
}

.compra #itens p .dadosProduto3 {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  height: 50px;
  width: 60px;
}

.compra #itens p a {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  top: 10px;
  height: 30px;
  width: 30px;
}

.compra #itens p r {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  top: 10px;
  height: 30px;
  width: 30px;
}

#carrinho {
  user-select: none;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .logo {
    display: none;
  }

  .boxPesquisa {
    left: 54vw;
    justify-content: center;
    transform: translate(-46vw);
    z-index: 0;
  }
}
