<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
<link rel="icon" type="imagem/x-icon" href="assets/img/LOGO.png" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<footer>

  <div class="main-content">
    <div class="left box">
      <h2>Sobre nós</h2>
      <div class="content">
        <p>
          "Ello Cell feita para atender vc que quer um atendimento diferenciado,
          com qualidade, preço justo e o melhor atendimento da cidade, vem pra
          ELLO CELL!"
        </p>

        <div class="social">
          <a href="https://www.facebook.com/ellocellacessorios/"><span class="fab fa-facebook-f" id="f"></span></a>
          <a href="https://api.whatsapp.com/send?phone=5516997500935"><span class="fab fa-whatsapp" id="w"></span></a>
          <a href="https://www.instagram.com/ello.cell/"><span class="fab fa-instagram" id="i"></span></a>
          <a href="https://www.tiktok.com/@ello.cell"><span class="fab fa-tiktok" id="t"></span></a>
        </div>
      </div>
    </div>
    <!--left box-->
    <div class="center box">
      <h2>Endereço</h2>
      <div class="content">
        <div class="place">
          <a href="">
            <span class="fas fa-map-marker"></span>
          </a>
          <span class="text">Rua Episcopal, 1963 - Res. Silvio Vilari, São Carlos</span>
        </div>

        <div class="phone">
          <a href="">
            <span class="fas fas fa-phone-alt"></span>
          </a>
          <span class="text">+55 16 99750-0935</span>
        </div>

        <div class="email">
          <a href="">
            <span class="fas fa-envelope"></span>
          </a>
          <span class="text">ellocellsaocarlos@outlook.com</span>
        </div>
      </div>
    </div>
    <div class="right box">
      <h2>Contato</h2>
      <div class="content">
        <form action="#">
          <div class="email">
            <div class="text">Email *</div>
            <input type="email" required id="email" autocomplete="email"/>
          </div>
          <div class="msg">
            <div class="text">Mensagem *</div>
            <input rows="2" cols="25" required id="Mensagem"/>
          </div>
          <div class="btn">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--main-content-->
  <div class="bottom">
    <div class="center">
      <span class="credit">Criado por <a href="#">Thiago Bandeira </a></span>
      <span class="far fa-copyright">2022 Todos os diteitos reservados</span>
    </div>
  </div>
</footer>

